<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">IP Address Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-nav" aria-controls="collapse-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ip_address_index') }}">List</a>
                </li>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <span>Hi {{ app.user.getFirstName }} |</span>
            {% endif %}
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>