{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div id="app">
            <ip-address-form
                object-id="{{ object_id|default(null) }}"
                object-index-route="{{ path('ip_address_index') }}"
                is-user-authenticated="{{ is_granted('IS_AUTHENTICATED_REMEMBERED') }}"
            ></ip-address-form>
        </div>
    </div>
{% endblock %}