{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div id="app">
            <ip-address-index
                object-title="{{ page_title }}"
                object-add-form-route="{{ path('ip_address_add_form') }}"
                object-edit-form-route="{{ path('ip_address_edit_form', {id: ':id'}) }}"
            ></ip-address-index>
        </div>
    </div>
{% endblock %}